[Unit] 
Description=Flask App Service 
After=network.target 
[Service] 
User=ubuntu 
WorkingDirectory=/opt/flask-app 
ExecStart=/usr/bin/python3 /opt/flask-app/app.py 
Restart=always 
[Install] 
WantedBy=multi-user.target 
